project:
  type: website
  output-dir: docs

website:
  title: "emme-anderson-portfolio"
  navbar:
    left:
      - href: index.qmd
        text: "Home"
      - href: about.qmd
        text: "About Me"

format:
  html:
    theme: minty
    css: styles.css
    toc: true

editor: source

